name: sonar-c#
env:
  SONAR_ORG: hanyhesham
  SONAR_PROJECT: hanyhesham_https-github.com-filetrust-mvp-icap-service-security-testing
on:
  push:
    branches: [ master ]
    paths:
      - 'cloud-proxy-app/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'cloud-proxy-app/**'
jobs:
  build:
    runs-on: ubuntu-latest
    container: hheshamrepo/base-icap-csharp-service:latest
    steps:
        - name: Checkout Project
          uses: actions/checkout@v1
          with:
            submodules: true

        - name: scan c# code
          run: |
            /root/.dotnet/tools/dotnet-sonarscanner begin   /o:"${{ env.SONAR_ORG }}"  /d:sonar.login="${{ secrets.SONAR_TOKEN }}"  /k:"{{ env.SONAR_PROJECT }}"  /d:sonar.host.url=https://sonarcloud.io /d:sonar.cfamily.build-wrapper-output="build_wrapper_output_directory"
            dotnet build cloud-proxy-app/cloud-proxy-app.sln
            /root/.dotnet/tools/dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}" 
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
